table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table,
th,
td {
  border: 1px solid #e2e3e3;
  border-collapse: collapse;
  user-select: none;
}
.resize-column {
  resize: horizontal;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  min-width: 50px;
  max-width: 600px;
  min-height: 40px;
}
table th {
  min-width: 50px;
  max-width: 600px;
}
table td {
  position: relative;
}
/* table td input {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 9px;
  box-sizing: border-box;
  background: white;
  resize: vertical;
}
table td textarea {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 9px;
  box-sizing: border-box;
  background: white; 
  resize: vertical;
} */

td:hover {
  cursor: default;
}
.selected-cell {
  background: #e7f0fd;
}
.selected-cell textarea {
  background: #e7f0fd !important;
}
.selected-cell-border {
  border: 2px solid #1a73e8 !important;
}

.menu-context {
  padding: 5px 20px;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 9px 1px rgb(0, 0, 0, 0.1);
}

.selected-copied-cell {
  /* border: 1px dashed #1a73e8; */
}
.copy-border {
  border: 2px dashed #1a73e8;
  position: absolute;
}
.column-label {
  text-align: center;
  background: #f8f9fa;
}
.row-number {
  background: #f8f9fa;
  width: 30px;
  text-align: center;
}


.no-records-found {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #e2e3e3;
  border-left: 1px solid #e2e3e3;
  border-bottom: 1px solid #e2e3e3;
}

.cell {
  padding: 3px;
}