table,
th,
td {
  border: 1px solid #e2e3e3;
  border-collapse: collapse;
  user-select: none;
}

table th {
  min-width: 50px;
  max-width: 600px;
}
table td {
  position: relative;
}

td:hover {
  cursor: default;
}


.menu-context {
  padding: 5px 20px;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 9px 1px rgb(0, 0, 0, 0.1);
}

.copy-border {
  border: 2px dashed #1a73e8;
  position: absolute;
}

.row-number {
  background: #f8f9fa;
  width: 30px;
  text-align: center;
}


.no-records-found {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #e2e3e3;
  border-left: 1px solid #e2e3e3;
  border-bottom: 1px solid #e2e3e3;
}



/* Refactored CSSes */

.excel-table-container {
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  background: white;
}

td {
  height: 1px; /* div 100% height workaround */
}

td[data-selected="true"] {
  background: #e7f0fd;
}

td[data-selectedcell="true"] {
  border: 2px solid #1a73e8 !important;
}

.cell-action {
  content: "";
  width: 5px;
  height: 5px;
  background: #1a73e8;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.cell-action:hover {
  cursor: crosshair;
}

td[data-selectedcell="true"] .cell-action {
  display: block;
}

.cell {
  padding: 3px;
  height: 100%;
  word-break: break-all;
}

.sort-icon {
  display: none;
}

div[data-sorted-by-column="true"] .sort-icon {
  display: block;
}

.column {
  text-align: center;
  background: #f8f9fa;
  height: 1px;
}

.column:hover {
  cursor: pointer;
}

.resize-column {
  resize: horizontal;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 3px;
  min-width: 80px;
  max-width: 600px;
  min-height: 50px;
  height: max-content;
}