.container {
    display: flex;
}
table, th, td {
    border: 1px solid #E2E3E3;
    border-collapse: collapse;
     user-select: none; 
  }
  table td {
    position: relative;
  }
  
  table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 9px;
    box-sizing: border-box;
  }
  
td:hover {
    cursor: default;
}
.selected-cell {
    background: #E7F0FD;
}
.selected-cell-border {
    border: 2px solid #1A73E8;
}

.menu-context {
    width: 200px;
    background: white;
    border: 1px solid gray;
    position: fixed;
}

.selected-copied-cell {
    border: 1px dashed #1A73E8 !important; 
}